            <nav id="header-main-menu" class="big-menu">
                <ul class="main-menu sm sm-clean">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                    <li>
                        <a href="features.html">Features</a>
                    </li>                  
                </ul>
                <form role="search" class="search-form">
                    <label>		
                        <input autocomplete="off" type="search" class="search-field" placeholder="Search" value="" name="s" title="Search for:">                        
                        <span class="search-info">search anything &amp; hit enter</span>
                    </label>    
                </form>
            </nav>  
